[
  {
    "ParameterKey" : "AmiId",
    "ParameterValue" : "{{ ami_id }}"
  },
  {
    "ParameterKey": "KeyName",
    "ParameterValue" : "{{ key_name }}"
  },
  {
    "ParameterKey" : "VpcCIDR",
    "ParameterValue" : "{{ vpc_cidr_block }}"
  },
  {
    "ParameterKey" : "VpcName",
    "ParameterValue" : "{{ vpc_name }}"
  },
  {
    "ParameterKey" : "IgwName",
    "ParameterValue" : "{{ igw_name }}"
  },
  {
    "ParameterKey": "PublicSubnet1CIDR",
    "ParameterValue" : "{{ subnet1_cidr }}"
  },
  {
    "ParameterKey": "PublicSubnet2CIDR",
    "ParameterValue" : "{{ subnet2_cidr }}"
  },
  {
    "ParameterKey": "PublicSubnet1Az",
    "ParameterValue" : "{{ subnet1_az }}"
  },
  {
    "ParameterKey": "PublicSubnet1AzName",
    "ParameterValue" : "{{ subnet1_name }}"
  },
  {
    "ParameterKey": "PublicSubnet2Az",
    "ParameterValue" : "{{ subnet2_az }}"
  },
  {
    "ParameterKey": "PublicSubnet2AzName",
    "ParameterValue" : "{{ subnet2_name }}"
  },
  {
    "ParameterKey": "RouteTableName",
    "ParameterValue" : "{{ route_table_name }}"
  },
  {
    "ParameterKey": "InstanceSecurityGroupName",
    "ParameterValue" : "{{ security_group_name }}"
  },
  {
    "ParameterKey": "TargetGroupName",
    "ParameterValue" : "{{ target_group_name }}"
  },
  {
    "ParameterKey": "TargetGroupProtocol",
    "ParameterValue" : "{{ target_group_protocol }}"
  },
  {
    "ParameterKey": "TargetGroupPort",
    "ParameterValue" : "{{ target_group_port }}"
  },
  {
    "ParameterKey": "ElbName",
    "ParameterValue" : "{{ elb_name }}"
  },
  {
    "ParameterKey": "ElbProtocol",
    "ParameterValue" : "{{ elb_protocol }}"
  },
  {
    "ParameterKey": "ElbPort",
    "ParameterValue" : "{{ elb_port }}"
  },
  {
    "ParameterKey": "ElbProtocolType",
    "ParameterValue" : "{{ elb_type }}"
  },
  {
    "ParameterKey": "Instance1Name",
    "ParameterValue" : "{{ ec2_instance1_name }}"
  },
  {
    "ParameterKey": "Instance2Name",
    "ParameterValue" : "{{ ec2_instance2_name }}"
  }
]
